* {
    box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }

  /* Header */
  .header {
    padding: 1px;
    text-align: center;
    background: #add8e6;
    font-weight: bold;
  }

  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #2f4f4f;
  }

  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    border-right: 2px solid black;
  }

  /* Change color on hover */
  .navbar a:hover {
    background-color: #376868;
  }

  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }

  /* Create two unequal columns that sits next to each other */
  /* column1bar/left column */
  .column1 {
    flex: 25%;
    background-color: #aaaaaa;
    padding: 20px;
  }

  /* column2 column */
  .column2 {
    flex: 50%;
    background-color: #bbb;
    padding: 20px;
  }

  /* column3 column */
  .column3 {
    flex: 25%;
    background-color: #ccc;
    padding: 20px;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #2f4f4f;
    color: white;
    font-weight: bold;
  }

  /* Responsive layout - when the screen is less than 600px wide */
  @media screen and (max-width: 600px) {
    .row :nth-child(1) {
      flex: 50%;
    }

    .row :nth-child(2) {
      order: 3;
    }

    .row :nth-child(3) {
      order: 2;
      flex: 50%;
    }
  }